.main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-content: center;
  
}
.h3{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  grid-column: 1 / -1;

}
.first-section{
  display: flex;
  place-content: center;
  gap: 8rem;
  height: 60vh;
  max-width: 1000px;
justify-content: center;
margin: 0 auto;
margin-top: 5rem;
}
.main-aboutMe-wrap{
display: flex;
flex-direction: column;
max-width: 400px;
margin: 0 auto;
justify-content: center;
}
.main-aboutMe-h2{
  font-size: 2.5rem;
  font-weight: 800;

}
.main-aboutMe-img-wrap{
display: flex;
gap: 2REM;
align-items: center;
}
.main-aboutMe-img{
min-width: 220px;
max-width: 250px;
height: 250px;
border-radius: 50%;
text-align: center;
border: 5px solid;
}
.main-aboutMe-tecnologies-wrap{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.tecnologie-img{
  width: 30px;
  height: 30px;
}
.mywork-wrap{
  margin-top: 2rem;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
  place-items: center;
  gap: 7rem;
  max-width: 1200px;
  margin: 0 auto;
}
.mywork-wrap p{
  font-size: 14px;
  position: relative;
}
.mywork-tecnologies-wrap{
  display: flex;
  justify-content: space-between;
  
}
.work-wrap{
  display: flex;  
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 270px;
  gap: 1rem;
  padding: 1rem;
  

}
.work-img{
  width: 240px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.5s;
}
.work-img:hover{
  transform: scale(1.1);
}
.bootcamp-section{
  display: flex;
  gap: 7rem;
  max-height: 700px;
  justify-content: center;
  align-items: center;
}
.bootcamp-info{
  max-width: 500px;

}
.bootcamp-info h2{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 3rem
}
.bootcamp-img-wrap{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bootcamp-img-wrap img{
  max-width: 400px;
}
.second-section{
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-top: 5rem;
  height: 100vh;  
}
.bootcamp-section{
  height: 1000px;
  margin-top: 10rem;
}
@media (max-width: 957px) {
  .first-section{
    flex-direction: column;
    gap: 5rem;
  }
  .main-aboutMe-img-wrap{
    margin-top: 10rem;
    justify-content: center;
  }
  .bootcamp-section{
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 525px;
    flex-wrap: nowrap;
  }
  .second-section{
    margin-top: 20rem;
    gap: 5rem;
  }
  .mywork-wrap{
    max-width: 350px;
    margin-top: 58rem;
    
  }
 
  .bootcamp-section{
    height: 1000px;
    margin-top: 5rem;
    max-width: 375px;
    margin: 47rem auto;
  }
  
  .first-section{
    max-width: 350px;
  }
}

