.main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-content: center;
  
}
.h3{
  font-size: 3rem;
  text-align: center;
}
.first-section{
  margin-top: 5rem;
  display: flex;
  place-content: center;
  gap: 15rem;
  height: 60vh;

}
.main-aboutMe-wrap{
display: flex;
flex-direction: column;
max-width: 400px;
}
.main-aboutMe-h2{
  font-size: 2.5rem;
  font-weight: 800;

}
.main-aboutMe-img-wrap{
display: flex;
}
.main-aboutMe-img{
height: 250px;
border-radius: 50px;
text-align: center;
}
.main-aboutMe-tecnologies-wrap{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.tecnologie-img{
  width: 30px;
  height: 30px;
}
.mywork-wrap{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
  place-items: center;
  gap: 1rem;
}
.mywork-wrap p{
  font-size: 14px;
}
.mywork-tecnologies-wrap{
  display: flex;
  justify-content: space-between;
  
}
.work-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 270px;
  gap: 1rem;
  padding: 1rem;
  

}
.work-img{
  width: 240px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.5s;
}
.work-img:hover{
  transform: scale(1.1);
}
.bootcamp-section{
  display: flex;
  gap: 5rem;
  height: 700px;
  justify-content: center;
  align-items: center;
}
.bootcamp-info{
  width: 500px;
}
.second-section{
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-top: 5rem;
  height: 100vh;
}
@media (max-width: 850px) {
  .first-section{
    flex-direction: column;
    gap: 5rem;
  }
  .main-aboutMe-img-wrap{
    margin-top: 10rem;
    justify-content: center;
  }
  .bootcamp-section{
    flex-direction: column;
    text-align: center;
    width: 350px;
    gap: 5rem;
    height: 100vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .second-section{
    margin-top: 20rem;
    gap: 5rem;
  }
  .main{
    align-items: center;
  }
  
  
}