.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 95%;
  position: fixed;
}
.header-links-wrap{
  display: flex;
  gap: 1rem;
}
.h1{
  font-size: 2rem;
  font-weight: 800;
}

 @media (max-width: 1600px){
 .header{
  position: inherit;
 }
} 